:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ce1212 ;
    --secundario: #810000;
    --fondo: #EEEBDD;
    --terciario: #1b1717;

}
html {
    font-size: 62.5%;
    background-color: var(--fondo);
}
body {
    font-size: 16px; /* 1rem= 10px */
    font-family: 'EB Garamond', serif;
}
button {
    cursor: pointer;
}
.nav_bar {
    background-color: var(--secundario);
}
.nav_principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.contenedor a {
    color: var(--blanco);
    text-decoration: none;
    
}
.cent {
    margin: 3rem;
}
h1 {
    text-align: center;
    font-size: 4.5rem;
}
h2 {
    font-size: 4rem;
    text-align: left;
}
p {
    font-size: 2.4rem;
}
.contenedor_main {
    margin: auto;
    display: flex;
}
.img_1 {
    height: 40rem;
    justify-self: right;
    margin: 1rem;
}
.in_box {
    width: 80%;
    height: 3rem;
}
.enviar {
    height: 3.5rem;
    padding: .1rem 1.5rem;
    border-radius: 5rem;
}
.terms  {
    font-size: 1.5rem;
}
.nav_button {
    color: var(--blanco);
    background-color: var(--secundario);
    border: var(--secundario);
}
.nav_button:hover {
    color: var(--terciario);
}
.terminos {
    text-decoration: none;
    color: var(--negro);
    font-weight: 600;
}
.contenedor_proyectos {
    background-color: var(--terciario);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.proyectos {
    background-color: var(--terciario); 
    color: var(--blanco);
}
.proj_h2 {
    text-align: center;
    color: var(--blanco);
}
.contenedor_about_me   {
    background-color: var(--fondo);
    color: var(--terciario);
    display: flex;
    justify-items: center;
}
.about_me{
    margin: 1.5rem;
}
.resume {
    display: flex;
    justify-content: space-around;

}
.but_resume {
    width: 10rem;
    height: 5rem;
    color: var(--blanco);
    border-color: var(--secundario);
    background-color: var(--secundario);
    margin: auto;
    padding: auto;
    border-radius: 50rem;
}
.contactame {
    background-color: var(--secundario);
}
.formulario {
    width: 100%;
    display: flexbox;
    justify-content: center;
    background-color: var(--terciario);
    color: var(--blanco);

}
.foot  {
    background-color: var(--terciario);
    color: var(--blanco);
    display: flex;
    justify-content: space-between;

}
.redes  {
    justify-self: flex-start;
    margin: 1rem;
}
.svgs {
    color: var(--blanco);
}
.svgs :hover {
    color: var(--primario);
}
.foot_links {
    text-decoration: none;
    color: var(--blanco);
}
.foot_links:hover {
    color: var(--primario);
}
.lista {
    list-style: none;
}
.form_contacto  {
    display: flex;
    justify-content: space-evenly;
}
.contacto {
    width: 85%;
    margin: 2.5rem;
}
.divs {
    width: 30%;
}